<!--
<div class="side">
  
    <ul>
      {% for post in site.posts %}
        {% if post.category == "event-coverage" %}
          <li>{{ post.category }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  
    <ul>
      {% for post in site.posts %}
        {% if post.category == "featured-car" %}
          <li>{{ post.category }}</li>
        {% endif %}
      {% endfor %}
    </ul>
    
</div>
-->
<!--

<script type="application/javascript">

(function() {
  // Create a new request
  var httpRequest = new XMLHttpRequest();

  // when the request state changes, trigger the function
  httpRequest.onreadystatechange = handleRequest;

  // setup the request
  httpRequest.open('GET', `https://www.instagram.com/garage_sparks/media/`);

  // send the request
  httpRequest.send();

  function showMedia(data) {

    // print the data
    console.log(data);

    var panel = document.getElementById('media');

    for(var i = 0; i < data.items.length; i++) {
      var item  = data.items[i];

      // get the thumbnail version of the image
      var thumb = item.images.thumbnail;

      // create an img element
      var ele = document.createElement('img');
      ele.setAttribute('src', thumb.url);

      // add to the page
      panel.appendChild(ele);
    }
  };

  function handleRequest() {
    // is the request complete?
    if (httpRequest.readyState === XMLHttpRequest.DONE) {

      // is the request status is successful
      if (httpRequest.status === 200) {
        // parse the response body as JSON
        var data = JSON.parse(httpRequest.responseText);
        showMedia(data);
      } else {
        console.error('There was a problem with the request.');
      }
    }
  }
})();


</script>-->
