---
layout: default
---

<h1 class="page-heading">LATEST ARTICLES</h1>

<ul class="post-list">
{% for post in site.posts %}
  <li>     
    <a href="{{ post.url | relative_url }}"><img src="assets/images/{{ post.title | replace: " ", "-" | downcase }}/feature.jpg" alt="featured"><br>
    <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">

        {{ post.title }} | {{ post.category | replace: "-", " " | capitalize }}
            
        {% assign words = {{ post.category }} | split: "-" %} {% for word in words %} {{ word }} {% endfor %}
            
        {{ words }}
        
        </a>
    </h2>
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <span class="post-meta">{{ post.date | date: date_format }}</span></a>
    <p class="excerpt">{{ post.content | strip_html | truncatewords:40 }}</p>
    <a href="{{ post.url | relative_url }}" class="read-more">Read More...</a>
    <hr>
  </li>
{% endfor %}
</ul>


